TRANSFORMATIONS_DATABASE_URI="mongodb://localhost:27017"
TRANSFORMATIONS_DATABASE_NAME="transformations_catalog"
LDAP_HOSTNAME=""
LDAP_GROUP=""
LDAP_BASE_DN=""
LDAP_USER_DN=""
LDAP_GROUP_DN=""
LDAP_OBJECTCLASS=""
LDAP_TRUST_ALL_CERTIFICATES=""