{% extends 'main.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="container">
  <div class="row">
    {% for tool in tools %}
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{tool.title}}</h5>
          <p class="card-text">{{tool.shortdesc}}</p>
          <p class="card-text"><b>Contributor: </b>{{tool.author}}</p>
          <p class="card-text"><b>Last modified: </b>{{tool.updateDate}}</p>
          <a href="#" class="btn btn-primary">Detail</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}