{% extends 'main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="alert alert-dark" style="margin-left: 11px;margin-right: 5%;" role="alert">
    <div class="form-check form-check-inline">
        <input checked class="form-check-input" id="converter" type="checkbox" value="converter">
        <label class="form-check-label form-control-lg" for="converter">Converter    </label>
    </div>
    <div class="form-check form-check-inline">
        <input checked class="form-check-input" id="extractor" type="checkbox" value="extractor">
        <label class="form-check-label form-control-lg" for="extractor">Extractor</label>
    </div>
</div>

<div class="container">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item"}' >
        {% for transformation in transformations %}

        <div class="grid-item" style="width: 30%; margin-right: 3%">
            <div class=" {{transformation.transformationType}}_tab">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-body">

                        {% if hasIcons(transformation.dependencies) %}
                        {% for software in transformation.dependencies if getIcon(software) %}

                        <a href="{{ url_for('pages.home', software=software) }}">
                            <img class="icon card-img-right" align="right" src="data:image/png;base64,{{getIcon(software)}}"
                                 alt="Icon of the tool {{transformation.title}}" >
                        </a>

                        {% endfor%}
                        {% else %}

                        {% if transformation.transformationType == "extractor" %}

                        <object class="octicon icon" data="{{ url_for('static', filename = 'octicons/sign-out.svg') }}" type="image/svg+xml" width="76" align="right">
                            <img src="{{ url_for('static', filename = 'images/BD3a_3D.png') }}" class="icon card-img-right" align="right"/>
                        </object>
                        {% else %}
                        <object class="octicon icon" data="{{ url_for('static', filename = 'octicons/gist.svg') }}" type="image/svg+xml" width="76" align="right">
                            <img src="{{ url_for('static', filename = 'images/BD3a_3D.png') }}" class="icon card-img-right" align="right"/>
                        </object>
                        {% endif %}
                        {% endif %}
                        <h5 class="card-title">{{transformation.title}}</h5>


                        <p class="card-text">{{transformation.description}}</p>
                        <p class="card-text"><b>Contributor: </b>{{transformation.author}}</p>
                        <p class="card-text"><b>Last modified: </b>{{ transformation.updated.date() }}</p>
                        <a class="btn btn-primary" href="transformations/{{transformation._id}}">Details</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<script language="javascript" type="text/javascript">

    $('#extractor').change(function() {
        // this will contain a reference to the checkbox
        if (this.checked) {
            $('.extractor_tab').show();
        } else {
            $('.extractor_tab').hide();
        }
        $('.grid').masonry('layout');
    });
    $('#converter').change(function() {
        // this will contain a reference to the checkbox
        if (this.checked) {
            $('.converter_tab').show();
        } else {
            $('.converter_tab').hide();
        }
        $('.grid').masonry('layout');
    });
</script>
{% endblock %}