{% extends 'main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

  <div class="card-columns">
    {% for tool in tools %}

    <div class=" {{tool.title}}_tab">
      <div class="card" style="margin-bottom: 10px;">
        <div class="card-body">
          {% if getIcon(tool.title) %}
          <img class="icon card-img-right" align="right" src="data:image/png;base64,{{getIcon(tool.title)}} "
               alt="Icon of the tool {{tool.title}}" >
          {% endif %}
          <h5 class="card-title">{{tool.title}}</h5>
          <p class="card-text">{{tool.description}}</p>
          <p class="card-text"><b>Contributor: </b>{{tool.author}}</p>
          <p class="card-text"><b>Last modified: </b>{{ tool.updated.date() }}</p>
          <a class="btn btn-primary" href="#">Detail</a>
        </div>

      </div>
    </div>

    {% endfor %}
  </div>

{% endblock %}