{% extends 'main.html' %}
{% block title %}View Transformation{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <h4 class="card-header">{{transformation.title }}</h4>
        <div class="card-body">
            <div class="row">
                <div class="col-6" style="padding-right:20px; border-right: 1px solid #ccc;">
                    <h4>Description</h4>
                    <p>{{transformation.description}}</p>
                    <hr />

                    <h4>Source Code URL</h4>
                    <p>   {{transformation.url}}</p>
                </div>
                <div class="col-6">
                    <h4>Software Used</h4>
                    {% for software in transformation.dependencies  %}
                    <p>{{software}}
                        {% if getIcon(software) %}
                        <a href="{{ url_for('pages.home', software=software) }}">
                            <img class="icon"  src="data:image/png;base64,{{getIcon(software)}}"
                                 alt="Icon of the tool {{transformation.title}}" >
                        </a>
                    </p>
                    {% endif%}
                    {% endfor%}

                    <h4>Docker Image Name</h4>
                    <p>{{transformation.dockerImageName}}</p>
                    <h4>Author</h4>
                    <p>{{transformation.author}}</p>
                    <h4>Last Modified</h4>
                    <p>{{transformation.updated.date()}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}